# Copyright 1999-2019 Gentoo Authors
# Copyrirgt 2022 Funtoo Authors
# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit cmake flag-o-matic

DESCRIPTION="Development platform for CAD/CAE, 3D surface/solid modeling and data exchange"
HOMEPAGE="https://www.opencascade.com/"
SRC_URI="{{artifacts[0].src_uri}}"


LICENSE="|| ( Open-CASCADE-LGPL-2.1-Exception-1.0 LGPL-2.1 )"
SLOT="0"
KEYWORDS="~amd64 ~x86"

IUSE="debug doc examples ffmpeg freeimage opengl gles2 openvr rapidjson vtk"


RDEPEND="dev-lang/tcl:0=
	dev-lang/tk:0=
	dev-tcltk/itcl
	dev-tcltk/itk
	dev-tcltk/tix
	media-libs/freetype:2
	dev-cpp/tbb
	media-libs/libglvnd
	opengl? ( virtual/glu )
	gles2? ( media-libs/mesa[gles2] )
	rapidjson? ( dev-libs/rapidjson )
	x11-libs/libXmu
	ffmpeg? ( virtual/ffmpeg )
	freeimage? ( media-libs/freeimage )
	openvr? ( media-libs/openvr )
	vtk? ( sci-libs/vtk[rendering] )
"

DEPEND="${RDEPEND}
	doc? ( app-doc/doxygen )
"

CMAKE_BUILD_TYPE=Release

MY_PV="${PV//./_}"
S="${WORKDIR}/OCCT-${MY_PV}"

PATCHES=(
{%- for patch in patches %}
    "${FILESDIR}"/{{patch}}
{%- endfor %}
)

src_configure() {
	local mycmakeargs=(
		-DBUILD_DOC_Overview=$(usex doc)
		-DBUILD_WITH_DEBUG=$(usex debug)
		-DINSTALL_SAMPLES=$(usex examples)
		-DUSE_FFMPEG=$(usex ffmpeg)
		-DUSE_FREEIMAGE=$(usex freeimage)
		-DUSE_GLES2=$(usex gles2)
		-DUSE_TBB=Y
		-DUSE_VTK=$(usex vtk)
		-DUSE_OPENGL=$(usex opengl)
		-DUSE_RAPIDJSON=$(usex rapidjson)
		-DCMAKE_INSTALL_PREFIX="${EPREFIX}"/usr
		-DINSTALL_DIR_LIB=lib64
	)

	cmake_src_configure
}

src_compile() {

	cmake_src_compile
}

src_install() {
	cmake_src_install
	# remove "draw harness" helper shell scripts which set variables to default values
	rm -v "${ED}"/usr/bin/*.sh
	dodoc README.txt
}

